<template lang="pug">
    div
        h2.title Выберите дату:
        v-row.aw-calendar(justify='center')
            v-date-picker.start(v-model='picker_start')
            v-date-picker.finish(v-model='picker_finish')

        h2.title Данные отсда:
        a(href='https://api.openweathermap.org/data/2.5/weather?'+
          'id=524901&lang=zh_cn&appid=facc6cee2c30b9d1c31a4fcbb6a0a63f')
            span openweathermap.org/data/forecast/daily

        h3 Сами данные:

        p(v-if='loading') Подгрузка данных..
        div(v-else)
            template( v-if='infodata')
                  WeatherBar(:recycle="infodata")
            p(v-else) Возникла ошибка при загрузке данных
</template>

<script>
    // @ is an alias to /src
    import axios from  'axios'
    import WeatherBar from '@/components/OnlyMyLittleComponent.vue';

    export default
    {
        name: 'weatherBarPage',
        components: {
            WeatherBar
        },
        data ()
        {

            return {
                message: "Welcome to page Only My Little App",
                picker_start: new Date().toISOString().substr(0, 10),
                picker_finish: new Date().toISOString().substr(0, 10),
                infodata: false,
                loading: false
            };
        },
        async mounted ()
        {
            this.loading = true
            try
            {
                const {data} = await axios
                    .get(
                        'https://api.openweathermap.org/data/2.5/weather',
                        {
                            params: {
                                id: 524901,
                                lang: 'ru',
                                appid: 'facc6cee2c30b9d1c31a4fcbb6a0a63f',
                            }
                        }
                    )
                if(data.cod == 200)
                {
                    this.infodata = data
                }
                else
                {
                    throw new Error('Ошибка получения данных с API')
                }

                this.loading = false
            }
            catch(err)
            {
                this.loading = false
                console.log(err)
            }

            // setTimeout(function () {
            //   this.info = this.infodata
            //     console.log(this.infodata);
            // }.bind(this), 100);
        }
    }
</script>

<style lang="sass" scoped>
    .v-picker
        &.start
            background-color: #ffc7c7
        &.finish
            background-color: #a6b7e4
</style>