<template lang="pug">
     v-col
       pre
        |{{recycle }}
       apexchart(:options="chartOptions" :series="series")
       v-btn(small @click="updateChart") Update!
</template>

<script>
  export default {
    data: function() {
      let weatherMapValue = {}, weatherMapTime = {}
      if( !!this.recycle.list )
      {
        weatherMapValue = this.recycle.list.map((interval) => {
           if(!!interval.temp.eve)
           {
             return interval.temp.eve
           }
           else if(!!interval.main)
           {
             if(!!interval.main.temp) {
               return interval.main.temp
             }
           }
        })
        weatherMapTime = this.recycle.list.map((interval) => interval.dt)
      }
      else if(!!this.recycle.main)
      {
          weatherMapValue[] = this.recycle.main.temp
          weatherMapTime[] = this.recycle.dt
      }


      return {
        chartOptions: {
          chart: {
              height: 350,
              type: 'line',
              zoom: {
                  enabled: false
              }
          },
          dataLabels: {
              enabled: false
          },
          stroke: {
              curve: 'straight'
          },
          title: {
              text: 'Температура за выбранный период',
              align: 'left'
          },
          grid: {
            row: {
              colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
              opacity: 0.5
            },
          },
          xaxis: {
              categories: weatherMapTime,
          }
        },
        series: [{
          name: 'series-1',
          data: weatherMapValue
        }]
      }
    },
    methods: {
      updateChart() {
        const max = 90;
        const min = 15;
        const newData = this.series[0].data.map(() => {
          return Math.floor(Math.random() * (max - min + 1)) + min
        })

        const colors = ['#008FFB', '#00E396', '#FEB019', '#FF4560', '#775DD0']

        // Make sure to update the whole options config and not just a single property to allow the Vue watch catch the change.
        this.chartOptions = {
          colors: [colors[Math.floor(Math.random()*colors.length)]],
          xaxis: {
              categories: ['Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Sep'],
          }
        };
        // In the same way, update the series option
        this.series = [{
          data: newData
        }]
      }
    },
    props: {
      recycle: {
          required: true,
          type: Object,
          default: []
      }
    }
  };
</script>

<style scoped>

</style>